@model UserViewModel
@using CSC_Assignment_2.Models

<form asp-action="AddUser" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add User" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <fieldset>
                    <legend>Admin Information</legend>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label asp-for="ApplicationRoleId" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-4">
                                <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                                    <option>Please select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label asp-for="UserName" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-6">
                                <input asp-for="UserName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-6">
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-6">
                                <input asp-for="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-6">
                                <input asp-for="ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <fieldset>
                    <legend>Account information</legend>
                    <div class="form-group">
                        <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
                        <div class="col-lg-6">
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortName" class="col-lg-3 col-sm-3 control-label"></label>
                        <div class="col-lg-6">
                            <input asp-for="ShortName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reknown" class="col-lg-3 col-sm-3 control-label"></label>
                        <div class="col-lg-6">
                            <input asp-for="Reknown" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="col-lg-3 col-sm-3 control-label"></label>
                        <div class="col-lg-6">
                            <textarea rows="4" asp-for="Bio" class="form-control" placeholder="Bio" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
